@use "../abstracts/" as *;

.grid {
    box-shadow: 0rem 0.9375rem 1.875rem 0rem hsla(212, 100%, 33%, 14.88%);
    max-width: 25rem;
    margin: 0 auto;

    @include breakpoint-up(medium) {
        display: grid;
        grid-template-columns: 1fr 1fr;
        grid-template-rows: 13.5rem 16.1875rem;
        grid-template-areas:
            "header header"
            "subscription why";
        max-width: 39.6875rem;
    }
    &__header {
        border-top-left-radius: 0.3125rem;
        border-top-right-radius: 0.3125rem;
        padding: 1.75rem 1.5rem 2rem 1.5rem;
        background-color: $white;
        @include breakpoint-up(medium) {
            grid-area: header;
            padding: 2.5rem;
        }
        &-title {
            color: $cyan;
            font-size: 1.25rem;
            font-weight: $bold;
            line-height: 1.4375rem;
            letter-spacing: -0.0156rem;
            margin-bottom: 1.5rem;

            @include breakpoint-up(medium) {
                font-size: 1.5rem;
                line-height: 1.75rem;
                letter-spacing: -0.0187rem;
            }
        }

        &-tagline {
            color: $bright-yellow;
            font-size: 0.9375rem;
            font-weight: $bold;
            line-height: 1.25rem;
            letter-spacing: 0.0119rem;
            margin-bottom: 1rem;

            @include breakpoint-up(medium) {
                font-size: 1.125rem;
                line-height: 1.3125rem;
                letter-spacing: -0.0138rem;
                margin-bottom: 0.6875rem;
            }
        }

        &-text {
            color: $Grayish-blue;
            font-size: 0.875rem;
            line-height: 1.625rem;
            letter-spacing: -0.0106rem;

            @include breakpoint-up(medium) {
                font-size: 1rem;
                letter-spacing: -0.0125rem;
            }
        }
    }

    &__subscription {
        padding: 1.5rem;
        color: $white;
        background-color: $cyan;

        @include breakpoint-up(medium) {
            grid-area: subscription;
            padding: 2.5rem;
        }

        &-title {
            font-size: 1.125rem;
            line-height: 1.3125rem;
            letter-spacing: -0.0138rem;
            margin-bottom: 1.125rem;
            font-weight: $bold;
        }

        &-price {
            display: inline-block;
            font-weight: $bold;
            font-size: 2rem;
            line-height: 2.3125rem;
            letter-spacing: -0.025rem;
            vertical-align: middle;
            margin-bottom: 0.25rem;
            margin-right: 0.6875rem;
        }

        &-price-per {
            opacity: 50%;
            display: inline-block;
            vertical-align: middle;
            margin-bottom: 0.5625rem;
            font-size: 1rem;
            letter-spacing: -0.0125rem;
            line-height: 1.625rem;
        }

        &-text {
            letter-spacing: -0.0125rem;
            line-height: 1.625rem;
            margin-bottom: 1.625rem;
        }

        &-btn {
            width: 100%;
            color: $white;
            background-color: $bright-yellow;
            border: none;
            border-radius: 0.3125rem;
            font-weight: $bold;
            letter-spacing: -0.0125rem;
            padding-top: 0.9375rem;
            padding-bottom: 0.875rem;
            box-shadow: 0rem 0.625rem 0.625rem 0rem hsla(0, 0%, 0%, 9.73%);
        }
    }

    &__why {
        padding: 1.5rem;
        color: $white;
        background-color: $light-cyan;
        @include breakpoint-up(medium) {
            grid-area: why;
            padding: 2.5rem;
        }

        &-title {
            font-size: 1.125rem;
            line-height: 1.3125rem;
            letter-spacing: -0.0138rem;
            margin-bottom: 1.125rem;
            font-weight: $bold;
        }

        &-list {
            list-style-type: none;
            padding: 0;
            margin: 0;

            &-item {
                opacity: 75%;
                font-size: 0.875rem;
                letter-spacing: -0.0106rem;
                line-height: 1.25rem;
            }
        }
    }
}
